.nav{
    background-color: #00202B;
    min-height: 9vh;
}

.logo{
    position: relative;
}

.logo .logoEffect{
       position: absolute;
       height: 15px;
       background-color: #ec676c61;
       width: 100%;
       top: 10px;
       left: 8px;
       transition: all .3s ease;
}

.logo:hover .logoEffect{
    left: 2px;
    width: 50%
}

.linkHolder .link {
    transition: all 0.2s ease;
    color: #ffff;
}

.linkHolder .link::after{
        content: '';
        width: 7px;
        left: 50%;
        height: 7px;
        opacity: 0;
        border-radius: 50px;
        margin: 0 auto;
        position: absolute;
        bottom: -8px;
        background-color: var(--defaultPink);
        transition: all .3s ease-in-out;
}

.linkHolder .link:hover::after {
    opacity: 1;
}

.activeLink::after{
    content: '';
    width: 7px;
    left: 50%;
    opacity: 1 !important;
    height: 7px;
    border-radius: 50px;
    margin: 0 auto;
    position: absolute;
    bottom: -8px;
    background-color: var(--defaultPink);
}

.footer{
    background-color: #00202B;
    min-height: 7vh;
}

@media (max-width: 780px) {
    .nav{
        padding: 0 .9rem;
    }
    
    .linkHolder{
        display: none !important;
    }
}